*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    min-height: 100vh;
    background-color: rgb(41, 88, 136);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 .btn{
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
}

.popup{

    /* height: 250px; */
    width: 350px;
    background-color: white;
    text-align: center;
    border-radius: 5px;   
    position: absolute;  
    top: 0;
    left: 50%;  
    transform: translate(-50%,-50%) scale(0.1);
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    height: 100px;
    width: 100px;
    margin-top: -50px;
   
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.popup h1{
    font-size: 28px;
    font-weight: 500;
    margin: 30px 0 10px;

}

.popup p{
     font-size: 18px;
    font-weight: 500;
    margin: 30px 0 10px;

}

.on-btn{
    height: 35px;
    width: 100%;
    background-color: green;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(14, 14, 14, 0.375);

}